.hidden {
  display: none;
}

.btn-credito{
  align-self: center;
  width: 100%;
}

.spinner{
  font-size: 0;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}
.card {
  font-size: 0.8rem;
  width: 100%;
}
.content-analise {
  display: flex;
  flex-direction: column;
}

.analise-card {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title h5 {
  font-size: small;
}

form div {
  display: flex;
  justify-content: space-between;
}

form label {
  font-size: 12px;
}

form input {
  height: 2rem;
  width: 75%;
}

#txtModal{
  width: 100%;
  height: 40vh;
}

@media (min-width: 630px) {
  .content-analise {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1500px) {
  .content-analise {
    display: flex;
    flex-direction: column;
  }

  .analise-card {
    display: flex;
    flex-direction: row;
  }

  .img-container {
    height: 18rem;
    width: 26rem;
  }
  .img-analise{
    height: 100%;
  }
  
  .card {
    width: 45rem;
    height: 18rem;
    font-size: 1rem;
  }
  form label {
    font-size: 1rem;
  }
  .card-title h5 {
    font-size: 1.2rem;
    padding: 1.3rem 0;
  }

  .card-body {
    padding: 2.5rem;
  }

  .container h1 {
    margin: 1.5em 0;
  }

  .button-container {
    margin-left: 1.5rem;
  }
}
