.carousel-item img {
  height: 95vh;
}
.carousel-card {
  opacity: 85%;
  border-radius: 15px;
}
#logo {
  display: none !important;
  width: 30px;
  height: 30px;
  opacity: 95%;
}
#logo-sobre {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}
#catalogo {
  background-color: rgb(200, 200, 200);
}

#sobre-container {
  height: 85vh;
}

#checkboxImg {
  position: absolute;
  right: 0;
}
.hidden {
  display: none;
}
.opened {
  display: inline-block;
}
.painel li:nth-child(n + 4) {
  display: none;
}
.painel-aberto li:nth-child(n + 4) {
  display: inline-block;
}
#addUsuarioModal {
  width: 100vw;
}

footer p{
  font-size: 0.8rem;
}

#cadastro, #registro{
  margin-bottom: 3rem;
}


@media (max-width: 630px) {
  body {
    font-size: 1rem;
  }

  .card-columns {
    column-count: 1 !important;
  }

  #sobre-section {
    display: flex;
    flex-direction: column;
  }

  #logo-sobre {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
  }

  #img-sobre {
    text-align: center;
    margin-top: 30%;
  }

  #content-sobre {
    margin: 20% 0;
    height: auto !important;
    text-align: center;
  }

  #content-sobre h1 {
    margin-bottom: 15%;
  }

  #sobre-container {
    height: auto;
  }

}

@media (max-width: 800px) {
  .card-columns {
    column-count: 2;
  }
  #carrossel {
    display: none;
  }

  #img-sobre {
    text-align: center;
    align-self: center;
  }

  #logo-sobre {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }

  .card-body {
    font-size: 0.95rem;
  }

  #content-sobre{
    height: auto;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 1.8em;
  }

  .card-body {
    font-size: 0.8rem;
  }

  .card {
    width: 16rem !important;
  }

  .card-columns {
    column-count: 3;
  }

  #logo {
    display: inline-block !important;
  }

  #img-sobre {
    text-align: center;
    align-self: center;
  }

  #login-signin-container{
    font-size: 0.9rem;
  }

  #cadastro input{
    font-size: 0.8rem;
  }

  #registro input{
    font-size: 0.8rem;
  }
  
  #cadastro, #registro{
    margin-bottom: 0;
  }
  
}

@media (min-width: 1500px) {

  #img-sobre {
    text-align: center;
    align-self: center;
  }

  .card-body {
    font-size: 1rem;
  }

  .card {
    width: 22rem !important;
  }

  .card-columns {
    margin-top: 5%;
    column-count: 3;
  }

  #catalogo{
    padding: 2.9rem !important;
  }

  #footer-login{
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  #login-signin-container{
    font-size: 1.1rem;
  }

  #cadastro input{
    font-size: 1rem;
    
  }

  #registro input{
    font-size: 1rem;
  }
  
  .card img{
    height: 25vh !important;
    width: 21.8pc !important;
  }

  .card-body{
    height: 15rem;
  }

}
